* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.grid {
   
        display: grid;
        grid-template-columns: repeat(5, 5fr);
        grid-template-rows: masonry;
        padding: 1rem 1rem;
        
      
  }

  .gridM {
   
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-template-rows: masonry;
    padding: 1rem 1rem;
    
  
}

.img{
    display: flex;
    padding: 12px;
    height:100%;
    width:100%;
    border-radius: 4px;
}

